.distortion-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.distortion-container canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
}
